$azul:#e6e6ff;
.banner{
	width: 100%;
	position: absolute;
	opacity: .7;
}

.titulo{
	background-color: #ff8080;
	width: 100%;
	height: 100px;
	position: relative;
	text-align: center;
	color:white;
	margin-top: 50%;
	padding-top: 2%;
}
.contacto{
	margin-top: 50%;
	color:white;
}
.color{
	color:white;
	margin-left: 10%;
}
.mapa{
	margin-top: 30%;
}
.form-group{
	margin-top: 30%;
	margin-left: 20%;
}
.form-control{
	margin-bottom: 5%;
	background-color: $azul;
}
.btn{
	margin-left: 85%;
}
.pie_gris{
	background-color: gray;
}
.copy{
	color:white;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-left: 10%;
	padding-left: 10%;
}